@page "/about"
<!DOCTYPE html>
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: 'Century Gothic';
  margin: 0;
}

/* Header/logo Title */
.header {
  padding: 80px;
  text-align: center;
  background: #86a3c3;
  color: white;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}


/* Main column */
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
}


</style>
</head>
<body>

<div class="header">
  <h1>About Us</h1>
  <p>Works Cited, etc.</p>
</div>

   <div class="main">
    <h2>About This Website</h2>
    <h5>Created for the KURIUSHACKS Hackathon by David Reeves, Anwesha Pathak, Hashir Mian, and Vasudha Marur</h5>
    <p>This website was made as a solution to the prompt given by the Canadian Polar Bear Habitats. It has various interactive activites and games that can be enjoyed by people of all ages. Additionally, it also has a lot of educational material to help people learn more about the Polar Bears.</p>
    <br>
    <br>
    <h2>Works Cited</h2>
    <h5>A List of Sources Used</h5>
    <p><b>Images</b></p>
    <p>Dropbox for the Canadian Polar Bear Habitat: https://www.dropbox.com/sh/b0icoazpjnk3cp6/AAB25v8v5xm-iPaFNJp8gZERa/Photos?dl=0&subfolder_nav_tracking=1 </p>
    <p>Polar Bear Image(Main Page): https://wallup.net/white-bear-tracks-snow-polar/ </p>
    <p>One of Our Coloring Images: https://www.coloring-pages-kids.com/coloring-pages/animal-coloring-pages/zoo-animals-coloring-pages/zoo-animals-coloring-pages-images/zoo-animal-coloring-page-12.php </p>
    <p><b>Informational Section</b></p>
    <p>https://polarbearsinternational.org/polar-bears/life-cycle/</p>
    <p>https://churchillpolarbears.org/about-polar-bears/polar-bear-life-cycle/</p>
    <p>https://www.natgeokids.com/uk/discover/animals/general-animals/polar-bear-facts/ </p>
    <p>https://www.wwf.org.uk/learn/fascinating-facts/polar-bears</p>
    <p>https://www.livescience.com/27436-polar-bear-facts.html</p>
    <p>https://seaworld.org/animals/all-about/polar-bear/senses/ </p>
    <p>https://www.nationalgeographic.com/animals/mammals/b/brown-bear/</p>

  </div>

</body>
</html>

