@page "/ar"

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: 'Century Gothic';
  margin: 0;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}

    nav {
        background-color: #333;
    }

/* list of pages */
        nav ul {
            margin: 0;
            padding: 0;
            list-style: none;
            text-align: center;
            z-index: 1;
        }
/* nav list items */
        nav li {
            display: inline-block;
            margin-left: 70px;
            padding-top: 20px;
            padding-bottom: 20px;
            position: relative;
            transition: letter-spacing 0.5s;
        }
/* nav text */
        nav a {
            color: white;
            text-decoration: none;
            font-family: 'Century Gothic',Tahoma;
            font-size: 20px;
            transition: letter-spacing 0.5s;
        }
 /* nav active */
            nav a:hover {
                letter-spacing: 1px;
                transition: all ease-in-out 250ms;
                color: white;
                text-decoration: none;
            }
/* nav top line */
            nav a::before {
                content: '';
                display: block;
                height: 5px;
                background-color: white;
                position: fixed;
                width: 0%;
                top: 0px;
                transition: all ease-in-out 250ms;
                margin-top: 74px;
            }
/* nav top line active */
            nav a:hover::before {
                width: 6%;
            }

/* Main column */
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
}

</style>
</head>
<body>

<nav>
    <ul>
         <li><a href="/">Home</a></li>
            <li><a href="/menu">Activities</a></li>
            <li><a href="/climate">About Climate Change</a></li>
            <li><a href="/videos">More Videos</a></li>
            <li><a href="/timeline">Timeline</a></li>
            <li><a href="/bearnames">The Bears</a></li>
            <li><a href="/about">About</a></li>
    </ul>
</nav>

  <div class="main">
    <p></p>
    <br>
  </div>

<div style="text-align:center">
    <iframe src="https://console.echoAR.xyz/webar?key=throbbing-lab-6963&entry=b0e81667-4550-4948-9fc5-3fcaf085361a" style="height:700px;width:1200px;border:4px solid #dedede;border-radius:8px;display:inline-block;">
    </iframe>
</div>
    <div style="text-align:center">
        <br />
        <div style="background-color:#f1f1f1;width:80%;padding:30px;border-radius:8px;margin:20px;text-align:left;border-top:3px solid dodgerblue;display:inline-block">
            <span style="color:dodgerblue;font-size:30px;font-family:'Century Gothic',Tahoma;font-weight:700">
                Paws
            </span>
            <br />
            <span style="text-wrap:normal;font-family:'Century Gothic',Tahoma">
                Polar bears have disproportionately big paws that act like snowshoes, distributing their weight throughout a large surface area on the ice they walk on. Their paws also have dermal bumps and thick fur in-between their pads that prevent them from slipping on the ice. Their toes are partially webbed to help them when swimming. Polar Bears have long non-retractable claws that help them gain traction on the slippery ice. They are also quite useful when trying to grab prey.
            </span>
        </div>
        <br />
        <div style="background-color:#f1f1f1;width:80%;padding:30px;border-radius:8px;margin:20px;text-align:left;border-top:3px solid dodgerblue;display:inline-block">
            <span style="color:dodgerblue;font-size:30px;font-family:'Century Gothic',Tahoma;font-weight:700">
                Face
            </span>
            <br />
            <span style="text-wrap:normal;font-family:'Century Gothic',Tahoma">
                Polar Bears have 42 individual jagged canine teeth
            </span>
            <hr />
            <span style="text-wrap:normal;font-family:'Century Gothic',Tahoma">
                A polar bear’s nose can move itself to point in the direction of the smell they are following due to a network of small, fine muscles. Their snouts are quite long. This is especially helping in the Arctic as it takes in the cold, dry air of the Arctic and turns it into warmer, moist air before it reaches the bear’s lungs.
            </span>
            <hr />
            <span style="text-wrap:normal;font-family:'Century Gothic',Tahoma">
                A polar bear's eyesight is actually comparable to our own. They are also able to see some color.
            </span>
        </div>
        <br />
        <div style="background-color:#f1f1f1;width:80%;padding:30px;border-radius:8px;margin:20px;text-align:left;border-top:3px solid dodgerblue;display:inline-block">
            <span style="color:dodgerblue;font-size:30px;font-family:'Century Gothic',Tahoma;font-weight:700">
                Structure
            </span>
            <br />
            <span style="text-wrap:normal;font-family:'Century Gothic',Tahoma">
                Polar bears have a longer, narrower build when compared to other bear species. This is mostly so that they have an easier time catching seals through the ice.
            </span>
        </div>
        <br />
        <div style="background-color:#f1f1f1;width:80%;padding:30px;border-radius:8px;margin:20px;text-align:left;border-top:3px solid dodgerblue;display:inline-block">
            <span style="color:dodgerblue;font-size:30px;font-family:'Century Gothic',Tahoma;font-weight:700">
                Differences between males and females
            </span>
            <br />
            <span style="text-wrap:normal;font-family:'Century Gothic',Tahoma">
                Other than size there is little to no other difference between male and female polar bears.
            </span>
        </div>
        <br />
        <div style="background-color:#f1f1f1;width:80%;padding:30px;border-radius:8px;margin:20px;text-align:left;border-top:3px solid dodgerblue;display:inline-block">
            <span style="color:dodgerblue;font-size:30px;font-family:'Century Gothic',Tahoma;font-weight:700">
                Blubber and Fat
            </span>
            <br />
            <span style="text-wrap:normal;font-family:'Century Gothic',Tahoma">
                Polar bears contain a thick layer of blubber than can make up to 50% of their total body mass. It can be up to 4 inches. The blubber can be used as insulation and to store energy. The blubber also helps the polar bear float in water.
            </span>
        </div>
    </div>
    

</body>
</html>