@page "/bearnames"
<h3>BearNames</h3>
<!DOCTYPE html>
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}
/* Style the body */
body {
  font-family: 'Century Gothic';
  margin: 0;
}
/* Header/logo Title */
.header {
  padding: 80px;
  text-align: center;
  background: #86a3c3;
  color: white;
}
/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
/* Main column */
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
}
</style>
</head>
<body>

<div class="header">
  <h1>Get to Know the Polar Bears!</h1>
</div>

   <div class="main">
    <div class="eddy">
		<img src="images/bear_eddy.png" style="width:500px;height:500px" align= "left" />
	</div>
    <h2>Eddy</h2>
    <p>Eddy is currently the oldest living bear at the Habitat. He was born into captivity on December 10, 1999. He came to the habitat due to renovations at his usual home, the Quebec Aquarium. Eddy likes to spend his time swimming and exploring the lake waters and shore. He also enjoys eating cattails that he pulls from the water.
</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
     <h2>Henry</h2>
    <p>Henry is currently the youngest living bear at the Habitat. He was born in captivity on May 9, 2013 in Australia. After turning two, his mother started pushing him away and he moved to the Habitat in 2015. Henry is considered a sub-adult male. This means he’s technically not a cub anymore but he isn’t a full blown adult. Henry enjoys spending time with Ganuk and Inukshuk and will commonly be seen sparring with them.
</p>
<div class="henry">
		<img src="images/bear_henry.png" style="width:500px;height:500px" align= "left" />
	</div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
     <h2>Ganuk</h2>
    <p>Ganuk is the son of Inukshuk and was born in captivity in Quebec on November 30, 2009. He moved to the Habitat in 2012. Ganuk is usually the heaviest bear at the Habitat usually weighing between 1,000-1,100 lbs. Ganuk likes to wander around and tends to stay inside when it starts to rain. Other than that and certain vegetables, Ganuk isn’t really picky.
</p>
<div class="ganuk">
		<img src="images/bear_ganuk.png" style="width:500px;height:500px" align= "left" />
	</div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
     <h2>Inukshuk</h2>
    <p>Inukshuk was born sometime during the Winter Season of 2002-2003 in the wild. At only a couple months old he was orphaned. He has fathered 5 cubs total (Ganuk, Hudson, Taiga, Juno, and Humphrey). He started living at the Habitat part-time in 2012 and has been living full time since 2016. He enjoys eating beaver unlike the other bears at the Habitat.
</p>
<div class="inukshuk">
		<img src="images/bear_inukshuk.png" style="width:500px;height:500px" align= "left" />
	</div>
<br>
  </div>


</body>
</html>