@page "/coloringpages"

<html lang="en">
<head>
<style>

body {
	font-family: 'Century Gothic'; 
	margin: 0
}

.header {
	padding:80px;
	text-align: center;
	background: #86a3c3;
	color: white;
}

.header h1{
	font-size: 40px;
}

.main {
	-ms-flex: 80%;
	flex:80%;
	background-color: white;
	padding:10px;
}

</style>
</head>
<body>

<div class="header">
	<h1>Coloring Pages</h1>
</div>

<div class="main">
	<h2>Here's a few coloring pages for you to try!</h2>
	<div class="coloring1">
		<img src="images/coloringsheet.png" style="width:500px;height:500px" align= "left"/>
	</div>
	<div class="coloring2">
		<img src="images/coloringpolarbears.jpg" style="width:500px;height:500px" align= "left"/>
	</div>
	<div class="coloring3">
		<img src="images/polar-bear-with-two-cubs-coloring-page.png" style="width:500px;height:500px" align= "left"/>
	</div>
	<p>You can either save this image to print it out or copy it down onto paper!</p>
</div>
</body>
</html>

