@page "/certificate"
@inject IJSRuntime JSRuntime;

<body>

    <button class="btn btn-primary" @onclick="CanvasUwu">Click me</button>

    <div id="capture" style="padding: 10px; background: #f5da55">
        <h4 style="color: #000; ">Hello world!</h4>
    </div>
</body>


@code {
    private async void CanvasUwu()
    {
        Console.WriteLine("uwu");
        await JSRuntime.InvokeVoidAsync("AddCanvas");
    }
}
