@page "/wordsearch"
@inject IJSRuntime JSRuntime;


<!-- <h3>Crossword</h3>
<img.src=  width="100" height= "100" align= "right" />
<div class="boxed" width= "200" height="50" align= "center"/>
-->

@code{
    protected override async Task OnInitializedAsync()
    {
        CompletedAddCookie();
    }
    public async void CompletedAddCookie()
    {
        
        await JSRuntime.InvokeAsync<string>("blazorExtensions.WriteCookie", "activityCompleted-wordsearch", "true", 100);
        this.StateHasChanged();
        M
    }
}