@page "/"

<h1>Welcome to PolarHab!</h1>
<br>

<style>
    img {
        max-width: 100%;
        height: 600px;
        display: block; /* remove extra space below image */
        border-radius: 8px;
    }

    .box {
        max-width: 70%;
    }

        .box.large {
            height: 600px;
            position: relative;
        }

        .box.small {
            max-height: 50%;
        }

    /* Bottom left text */


    /* Top right text */
    .top-right {
        position: absolute;
        background-color: rgba(60, 60, 60,0.5);
        top: 170px;
        right: 50px;
        height: 60px;
        width: 750px;
        color: white;
        font-family: 'Century Gothic';
        font-size: xx-large;
        border-radius: 16px;
        text-align: center;
    }

    /* Bottom right text */
    .bottom-right {
        position: absolute;
        background-color: rgba(60, 60, 60,0.5);
        bottom: 475px;
        right: 50px;
        height: 210px;
        width: 750px;
        color: white;
        font-family: 'Century Gothic';
        font-size: x-large;
        border-radius: 8px;
        text-align: center;
    }
</style>
<div class="box large">
    <img src="images/Inukshuk_Snowy_Scene.jpg" alt="Inukshuk in front of snowy background" />



</div>
<div class="top-right">Canadian Polar Bear Habitat</div>
<br />
<div class="bottom-right">
    The Canadian Polar Bear Habitat is a registered non-profit charity.<br />

    It is dedicated to improving the standard of care for polar bears around the world and learning as much as possible to help guide global conservation efforts for wild bears.
</div>
<br>
<br>
<div class="boxed" width="200" height="300">
    INFORMATION ABOUT THE ORGINIZATION
</div>
<br>
<br>
<p>Meet the Bears!</p>