@page "/"
<html lang="en">
<head>
<style>

body {
	font-family: 'Century Gothic'; 
	margin: 0
}

.header {
	padding:80px;
	text-align: center;
	background: #86a3c3;
	color: white;
}

.header h1{
	font-size: 40px;
}

.main {
	-ms-flex: 80%;
	flex:80%;
	background: white;
	padding:10px;
}

.footer{
	padding: 20px;
	text-align: center;
	background-color: #7268a6; 
	color: white;
}

.main{
   -ms-flex: 80%;
    flex: 80%;
    background-color: #f2f3f4;
    padding: 20px;
}

img {
    max-width: 100%;
    height: 600px;
    display: block; 
    border-radius: 8px;
}

.box {
    max-width: 70%;
}

.box.large {
    height: 600px;
    position: relative;
}

.box.small {
            max-height: 50%;
}

.textblock {
  background-color: #f8f4ff;
  width: 100%;
  padding: 20px;
}

div.background{
    background: url(images/polarbearlong.png);  
    border: 2px blue;
    width: 900px
}

div.transbox{
    margin: 100px
    background-color: #ffffff;
    border: 1px blue;
    opacity: 0.6;
}

div.transbox p{
    margin: 80%;
    font-weight: bold;
    text-align: "center";
    color: #f8f4ff;
}

</style>
</head>
<body>

<div class= "header">
        <h1> Welcome to PolarHab </h1>
</div>

<div class="background">
   <div class="transbox">
     <h1>The Canadian Polar Bear Habitat</h1>
     <h4>It is dedicated to improving the standard of care for polar bears around the world and learning as much as possible to help guide global conservation efforts for wild bears.</h4>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   </div>
</div>
   
   <br>
   <br>
   
   <div class="boxed" width="200" height="300">
       <h3>INFORMATION ABOUT THE ORGANIZATION</h3>
       <p>The Canadian Polar Bear Habitat is a registered non-profit organization whose goal is to promote the sustainability of polar bear habitats through education, research, and edu-tourism. The organization currently houses 4 polar bears named, Eddy, Henry, Inukshuk, and Ganuk. They live on 24 acres of a natural subarctic environment where they live as close to nature as possible.

The organization is currently working with organizations such as the World Wildlife Fund (WWF) and the National Oceanic and Atmospheric Administration (NOAA) to research more about the polars bears. They use these observations and data sets to better understand how climate change affects how the polar bears live in the wild.

They also conduct tours and other educational experiences to communities around the world, helping more people understand today’s circumstances and how the polar bears are being affected negatively because of them.
</p>
    </div>
    <br>
    <br>

</body>
</html>
