@page "/timeline"

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    * {
        box-sizing: border-box;
    }
body {
  background-color: #474e5d;
  font-family: 'Century Gothic';
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 12px;
  background-color: #86A3C3;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #6B3074;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: -25.1%;
}

/* Place the container to the right */
.right {
  left: 25.5%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
}
</style>
</head>
<body>

<div class="timeline">
  <div class="container left">
    <div class="content">
      <h2>Spring- March, April, May, June</h2>
      <p>Between April and late June, the snow starts to melt and the snow starts to gradually become longer and longer. Adult male polar bears start looking for mates; adult males usually reach sexual maturity between the ages of 6 and 10. Females reach secual maturity between the ages of 4 and 6, but female polar bears usually give birth every three years. This leads to a greater number of males than females participating during mating season. Adult males usually stay with the female for a couple of days before leaving. While mating happens during the spring season, the fertilized egg does not actually implant until fall. This is due to a process called delayed implantation. Fertilized eggs will only implant if the female has sufficient fat to sustain both herself and her cubs during denning season.
</p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2>Fall/Early Winter- Sept, Oct, Nov</h2>
      <p> This period of time is called denning season. A pregnant female will start building a maternity den for her cubs after feeding through summer and fall. She will give birth and nurse her cubs here. Pregnant polar bears usually create dens in snow drifts in coastal and river bluffs, hills near sea ice, or in banks of snow along the frozen sea. The pregnant polar bear will then create a small snow cave in her desired location. It’s usually only big enough for her to turn around. She will then wait for the snow to completely cover the entrance. 
</p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h2>Winter- Dec, Jan, Feb</h2>
      <p>Most cubs are born during December. A pregnant mother will usually give birth to 1, 2, or 3 cubs. Twins are the most common. She will not usually eat or drink anything during this time. All of her time and energy will be put into her cubs. Newborn cubs are completely dependent on their mother as they are usually blind, toothless, and are only covered with a short covering of fur. The mothers will nurse for up to 20 weeks. During this time the cubs will grow rapidly. </p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2>Early Spring- Mar, Apr </h2>
      <p>The mother and her cubs usually emerge from their dens sometime during March or April. By this time, the cubs are able to defend themselves against almost anything that may try to harm them. The family of polar bears now make their way towards the sea ice. The mother now starts teaching her cubs hope to survive in the Arctic. Cubs usually spend 2 ½ years with their mother before they part ways. The cubs grow up and the cycle continues as the mother participates in mating season once again.</p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h2>Summer- Jul, Aug, Sept</h2>
      <p>This time is the least busy time of the year for the Polar Bears. Their main objective is just to feed and survive. </p>
    </div>
  </div>
</div>

</body>
</html>